.alignTop{
    vertical-align: top;
}
.top-space{
    margin-top: 30px;
}
.fixed-hidden{
    position: fixed;
    top: -200px;
}
img{
    max-width: 100%;
}
.text-shadow-1{
    text-shadow: 0 0 4px black;
}
p{
    word-wrap: break-word;
}
.admin.container{
    margin-bottom: 20px !important;
}
.tooltipped{
    cursor: help;
}
.point{
    cursor: pointer;
}

@media #{$small-and-down} {
    .mobile-mtb{
        margin: 20px 0;
    }
}