p.caption{
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 15px;
}
.gravatar-block{
    h5{
        padding: 15px 0;
    }
    .radio1{
        margin: 5px 0;
        display: inline-block;
    }
}