@media #{$medium-and-up}{
    table.wide-col-fill{
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
        
        tr:not(:last-child){
            border-bottom: 1px solid #EEEEEE;
        }
        td{
            padding-left: 15px;
            padding-right: 15px;
        }
        td.wide-col{
            width: 80%;
        }
        td .material-icons.rightside{
            margin-left: 20px;
            cursor: pointer;
            display: none;
            color: #AAAAAA;
        }

        td:hover .material-icons.rightside{
            display: inline-block;
            &:hover{
                color: #333333;
            }
        }
    }
}