.delete-button{
    position: relative;
    .confirm-delete{
        position: absolute;
        width: 300px;
        right: -20px;
        top: -20px;
        button{
            margin: 5px;
            float: right;
        }
    }
    .delete-icon{
        cursor: pointer;
        color: #CCCCCC;
        transition: all 300ms ease-in;
    }
    .delete-icon:hover{
        color: #f44336;
    }
}
.logout-button{
    font-size: 15px;
}