.delete-button {
    position: relative;
    .confirm-delete {
            position: absolute;
            width: 300px;
            left: -50px;
            top: -10px;
            z-index: 60;
            button {
                margin: 5px;
                float: right;
            }
        }
    @media #{$medium-and-up} {
        .confirm-delete {
            right: -20px;
            left: auto;
        }
    }
    .delete-icon {
        cursor: pointer;
        color: #CCCCCC;
        transition: all 300ms ease-in;
    }
    .delete-icon:hover {
        color: #f44336;
    }
}

.logout-button {
    font-size: 15px;
}